.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;

  background: var(--blue);
  padding: 4rem 0;
}

.container > div {
  width: 100%;
  height: 100%;
  background: url('/simbolo.svg') no-repeat left;
  background-size: contain;
}

.container > div img{
  height: 100%;
}

.loginSection{
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-width: 500px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.loginSection strong {
  margin-top: 6rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: white;
}

.loginSection div {
  display: flex;
  margin-top: 2rem;
}

.loginSection div img {
  margin-right: 2rem;
}

.loginSection div p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  color: #B2B9FF;
}

.loginSection button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 5rem;
  background-color: #4953B8;
  background: linear-gradient(to right, #4953B8 , rgba(73, 83, 184, 0.3));
  border: 0;
  border-radius: 5px;
}

.loginSection button span {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}

.loginSection button img {
  height: 1.6rem;
  margin-left: 1.6rem;
}